@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(50px, 50px);
    }
    50% {
      transform: translate(100px, 0);
    }
    75% {
      transform: translate(50px, -50px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .animate-float {
    animation: float 20s infinite ease-in-out;
  }